@mixin font-face ($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}

@mixin text-primary ($font-family, $font-size, $line-height, $font-weight, $color, $text-transform) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
  text-transform: $text-transform;
}

@mixin button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: $primary-color-button;
  color: $color-hero;
  width: 280px;
  height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}
