/* здесь используйте глобальные переменные */
$base-color-text: #444444;
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;
$color-hero: rgba(255, 255, 255, 1);
$primary-font-weight: 400;
$primary-color-button:  rgba(104, 183, 56, 1);
$color-icon: rgba(104, 183, 56, 1);
$tablet-width: 768px;
$desktop-width: 1440px;

