.card {}

.card__link {
  text-decoration: none;
}

.card__title {
  @include card__title;
}

.card__picture {}

.card__foto {}

.card__product {}

.card__button {
  @include button;
}

.card-button__all {
  @include button;
  background-color: rgba(242, 242, 242, 1);
  color: rgba(68, 68, 68, 1);
}

.card__description {
  @include text-card;
}
