.card {

}

.card__link {
  text-decoration: none;
}

.card__title {
  position: relative;
}

.card__plus {
  @include text-primary ($secondary-font, 16px, 20px, $primary-font-weight, rgba(34, 34, 34, 1), uppercase);

  &::before {
    @include pseudo (30px,30px);
    background-image: url("../../icons/stack.svg#plus");
  }
}

.card__picture {

}

.card__foto {

}

.card__product {

}

.card__button {
  @include button;
  display: block;
  border-color: transparent;

  &:hover {
    background-color: rgba(94, 170, 47, 1);
  }

  &:active {
    opacity: 30%;
  }
}

.card-button__all {
  @include button;
  background-color: rgba(242, 242, 242, 1);
  color: rgba(68, 68, 68, 1);
}

.card__description {
  @include text-primary ($primary-font, 12px, 16px, $primary-font-weight, rgba(68, 68, 68, 1), none);
}
