.contacts {
  background-color: rgba(242, 242, 242, 1);
  margin: 0 auto;
  width: 100%;
}

.contacts__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 26px 20px;
  background-color: rgba(255, 255, 255, 1);

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
    justify-content: space-between;
  }
}

.contacts__title {
  @include text-primary ($secondary-font, 16px, 20px, $primary-font-weight, rgba(17, 17, 17, 1), uppercase);
  width: 140px;
  height: 60px;
}

.contacts__address {
  @include text-primary ($primary-font, 14px, 20px, $primary-font-weight, rgba(68, 68, 68, 1), none);
  width: 140px;
  height: 60px;
}

.contacts__map {
  width: 100%;
}

