.example {
  background-color: rgba(234, 234, 234, 1);

  @media (min-width: $tablet-width) {
    background-color: rgba(255, 255, 255, 1);
  }
}

.example__title {
  @include text-primary ($secondary-font, 36px, 40px, $primary-font-weight, rgba(0, 0, 0, 1), none);
  text-align: center;

  padding-top: 25px;

  @media (min-width: $tablet-width) {
    @include text-primary ($secondary-font, 60px, 60px, $primary-font-weight, rgba(0, 0, 0, 1), none);
    text-align: left;
    margin: 30px;
  }
}

.example__description {
  @include text-primary ($primary-font, 14px, 18px, $primary-font-weight, rgba(68, 68, 68, 1), none);
  margin: 20px;

  @media (min-width: $tablet-width) {
    @include text-primary ($primary-font, 16px, 24px, $primary-font-weight, rgba(0, 0, 0, 1), none);
    text-align: left;
    margin: 30px;
  }
}

.example__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  justify-content: space-around;

  @media (min-width: $tablet-width) {

  }
}


.example__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 124px;
    height: 56px;
    border: 1px solid rgba(205, 205, 205, 1);
    border-radius: 6px;
    position: absolute;
    top: 4px;
  }
}

.example__digitally {
  @include text-primary ($secondary-font, 24px, 24px, $primary-font-weight, rgba(0, 0, 0, 1), none);
  margin-top: 14px;
  margin-bottom: 15px;
  text-align: center;

  @media (min-width: $tablet-width) {
    background-color: rgba(255, 255, 255, 1);
  }

  br {
    display: none;
  }
}

.example__result {
  @include text-primary ($primary-font, 12px, 12px, $primary-font-weight, rgba(68, 68, 68, 1), none);
  text-align: center;
  width: 87px;
  margin-left: 18px;
  margin-right: 19px;
  background-color: rgba(234, 234, 234, 1);
  z-index: 1;

  @media (min-width: $tablet-width) {
    background-color: rgba(255, 255, 255, 1);
  }

  br {
    display: none;
  }
}

.example__costs {
  margin-top: 20px;
  text-align: center;
}

.example__slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 320px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
  }
}

.example__slider__fat {
  position: absolute;
  width: 140px;
  left: 20px;
  overflow: hidden;
}

.example__slider__slim {
  position: absolute;
  width: 140px;
  left: 162px;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
}

.example__content {
  width: 280px;
}

.example__button {
  display: block;
  width: 4px;
  height: 256px;
  border-radius: 2px;
  background-color: rgba(102, 102, 102, 1);
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(102, 102, 102, 1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    display: block;
    background-image: url("../../icons/stack.svg#arows_slider");
    width: 24px;
    height: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

