.header {
  @include flex;
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 320px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }
}

.header__logo {
  margin: 13px 0 15px 20px;
  height: 38px;

  @media (min-width: $tablet-width) {
    height: 50px;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 34px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
    margin-left: 110px;
    margin-top: 55px;
  }
}

.header-list {
  & a {
    @include text-primary ($secondary-font, 20px, 20px, $primary-font-weight, rgba(0, 0, 0, 1), uppercase);
    text-decoration: none;
    border-top: 1px solid rgba(230, 230, 230, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 66px;
    justify-content: center;
  }

  @media (min-width: $tablet-width) {
    & a {
      @include text-primary ($secondary-font, 18px, 24px, $primary-font-weight, rgba(0, 0, 0, 1), uppercase);
      text-decoration: none;
      height: 36px;
      display: inline;
      border: none;
    }
  }

  @media (min-width: $desktop-width) {
    @include text-primary ($secondary-font, 20px, 30px, $primary-font-weight, rgba(255, 255, 255, 1), uppercase);
  }
}

.header-list__item--current {
  position: relative;

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      width: 64px;
      height: 2px;
      background-color: rgba(104, 183, 56, 1);
      left: 0;
      top: 34px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      content: "";
      position: absolute;
      width: 71px;
      height: 2px;
      background-color: rgba(255, 255, 255, 1);
      left: 0;
      top: 34px;
    }
  }
}

