.hero {

}

.hero--background {
  background-color: rgba(104, 183, 56, 0.85);

  &::before {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85) 50% transparent 50%, url("../../images/index-background-mobile@1x.png") center cover no-repeat);
  }
}

.hero__index {
  @include text-primary ( $secondary-font, 36px, 36px, 400, $color-hero, none);
  text-align: center;
}

.hero__description {
  @include text-primary ( $secondary-font, 14px, 14px, 400, $color-hero, uppercase);
}

.hero__button {
  @include button;
  border-color: transparent;

  &:hover {
    background-color: rgba(94, 170, 47, 1);
  }

  &:active {
    opacity: 30%;
  }
}
