.logo {
  display: flex;
}

.logo__img {
  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.logo__text {
  margin-left: 56px;
  margin-top: 10px;
  margin-right: 65px;

  @media (min-width: $tablet-width) {
    margin-left: 13px;
    margin-top: 10px;
    margin-right: 94px;
  }
}
