.more {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more__title {
  @include text-primary ($secondary-font, 24px, 24px, $primary-font-weight, rgba(0, 0, 0, 1), none);
  margin: 0 54px 36px 0;
  position: relative;

  &::before {
    content: "";
    width: 34px;
    height: 2px;
    background-color: rgba(104, 183, 56, 1);
    position: absolute;
    top: 12px;
    left: 266px;
  }
}

.more__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.more__item {
  width: 280px;
  height: 98px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 13px;
  margin-bottom: 32px;
  position: relative;

  &::before {
    content: "";
    width: 280px;
    height: 2px;
    background-color: rgba(235, 235, 235, 1);
    position: absolute;
    top: -13px
  }
}

.more__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
