.nav {

}

.nav__toggle {
  background-color: rgba(255, 255, 255, 1);
  background-repeat: no-repeat;
  border-color: transparent;
  position: absolute;
  left: 275px;
  top: 20px;
}

.nav__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 436px;
    margin: 0 auto;
  }
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
