.profit {

}

.profit__programme {

}

.profit__article {

}

.profit__article--slim {

}

.profit__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.profit__description {
  font-size: 14px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
}

.profit__link {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.profit__link--arrow {

}

.profit__article--pro {

}

