.social {

}

.social__item {

}

.social__item--vk {
  display: block;
  mask-image: url("../../icons/stack.svg#icon-vk");
  background-color: rgba(102, 102, 102, 1);
  width: 27px;
  height: 17px;


  &:hover {
    background-color: rgba(104, 183, 56, 1);
  }

  &:active {
    background-color: rgba(104, 183, 56, 1);
    opacity: 30%;
  }
}

.social__link {

}

.social__item--yt {
  display: block;
  mask-image: url("../../icons/stack.svg#icon-yt");
  background-color: rgba(102, 102, 102, 1);
  width: 24px;
  height: 19px;


  &:hover {
    background-color: rgba(104, 183, 56, 1);
  }

  &:active {
    background-color: rgba(104, 183, 56, 1);
    opacity: 30%;
  }


}

.social__item--tg {
  display: block;
  mask-image: url("../../icons/stack.svg#icon-tg");
  background-color: rgba(102, 102, 102, 1);
  width: 20px;
  height: 18px;


  &:hover {
    background-color: rgba(104, 183, 56, 1);
  }

  &:active {
    background-color: rgba(104, 183, 56, 1);
    opacity: 30%;
  }

}

