.subscribe {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__title {
  @include text-primary ($secondary-font, 24px, 24px, $primary-font-weight, rgba(0, 0, 0, 1), none);
  margin-top: 40px;
  position: relative;
  text-align: left;
  width: 152px;

  &::before {
    content: "";
    background-color: #68b738;
    width: 108px;
    height: 2px;
    position: absolute;
    top: 12px;
    left: 192px;
  }
}

.subscribe__description {
  @include text-primary ($secondary-font, 16px, 24px, $primary-font-weight, rgba(0, 0, 0, 1), none);
  width: 280px;
  text-align: center;
  margin-bottom: 24px;
}

.subscribe__form {
  width: 280px;
}

.subscribe__label {

}

.subscribe__text {
  @include text-primary ($secondary-font, 20px, 30px, $primary-font-weight, rgba(0, 0, 0, 1), uppercase);
  width: 280px;
  height: 56px;
  border: 1px solid rgba(205, 205, 205, 1);
  margin-bottom: 16px;
  padding: 13px;
}

.subscribe__button {
  @include button;
  font-size: 20px;
  line-height: 26px;
  height: 56px;
  border-color: transparent;
  margin-bottom: 40px;
}
